<p>A last minute rescheduling was necessary to fit this meeting into everyone's
schedule (and October!).</p>

<p>The hot topic for the first hour (when I was still there) was the 
<a href="http://ai-contest.com/">Google AI Challenge</a>. Perl is a supported
language, we're hoping to see an entry from a local member :-)</p>
