<h2>Meetings</h2>

<p>adelaide.pm wishes to have regular monthly meetings, however at this time, while still
finding our feet, we will postpone any regular meeting plans.</p>

<p>If you have any thoughts regarding meetups, would like to give a talk or offer a venue,
please join us on <a href="/mailing.html">the mailing list</a> or drop us a line at
<a href="mailto:admin@adelaide.pm.org"><tt>admin@adelaide.pm.org</tt></a>.</p>
