<h2>Links</h2>

<ul>
<li><a href="http://perl.org"><tt>http://perl.org</tt></a> - new and improved!</li>
<li><a href="http://perlmonks.org"><tt>http://perlmonks.org</tt></a> - great online community</li>
<li><a href="http://pm.org"><tt>http://pm.org</tt></a> - find other perl monger groups</li>
</ul>
